*{
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
    width: 100%;
}
#ludoset{
    position: relative;
}
#diceset{
    position: absolute;
    top: 560px;
    left: 360px;
}